@media (min-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}

/*Navigation menu*/

.navbar-brand {
    font-family: "Montserrat";
    font-weight: 500;
}

.navbar-light .navbar-nav .navbar-link.active,
.navbar-light .navbar-nav .show.navbar-link,
.navbar-light .navbar-nav .navbar-link {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14;
    padding: 10px 20px;
}

/*Home*/

.home {
    background-color: #f0f5f9;
    padding: 150px 0 100px 0;
}

/*About*/

.about__card-1 {
    background-color: #fff2e5;
}

.about__card-2 {
    background-color: #f8f9fa;
}

.about__card-3 {
    background-color: #f0f5f9;
}

.about__card-image {
    width: 80px;
}

/*Features*/

.features {
    background-color: #f0f5f9;
}

/*Review*/

.reviews__container {
    background-color: #f0f5f9;
    padding: 100px 50px;
}